<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
</div>
<app-favourite [isFavourite]="post.isFavourite" [isFavouriteToo]="post.isFavouriteToo" [is-dash-favourite]="post.isDashFavourite" (change)="onFavouriteChange($event)"></app-favourite>
<app-bootstrap-panel>
  <ng-container class="heading">Heading works</ng-container>
  <div class="body">
    <h2>Body</h2>
    <p>Some content here!</p>
  </div>
</app-bootstrap-panel>
<app-like
  [likesCount]="tweet.likesCount"
  [isActive]="tweet.isLiked"
></app-like>
<div>
  <!-- <input type="text" appInputFormat [format]="'uppercase' "> -->
  <input type="text" [appInputFormat] ="'uppercase' "> <!-- TO make code like this chang teh @Input to the directive selector rather than the varaible -->
</div>
<app-zippy title="Shipping Details">Shipping details content</app-zippy>
<app-favourite></app-favourite>
<app-contact-form></app-contact-form>
